h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 245, 180);
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 15px;
}